/* Will be compiled down to a single stylesheet with your sass files */
.ace_editor {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  line-height: 170%; }

.ace_editor_wrapper {
  position: relative;
  margin-left: 265px;
  height: 100%; }

.settings-panel {
  position: absolute;
  padding-top: 20px;
  padding-left: 20px;
  width: 225px;
  top: 40px;
  bottom: 0;
  left: 0;
  background: white; }
  .settings-panel fieldset {
    margin-bottom: 20px; }
  .settings-panel .slider {
    margin-left: 20px; }
    .settings-panel .slider h1, .settings-panel .slider h2, .settings-panel .slider h3, .settings-panel .slider h4, .settings-panel .slider h5, .settings-panel .slider h6 {
      display: inline-block;
      vertical-align: middle; }

.command-panel {
  float: left;
  padding: 20px;
  background: white; }

.contents {
  margin-top: 20px;
  width: 225px; }

.alerts {
  position: absolute;
  z-index: 4;
  bottom: 20px;
  right: 20px;
  width: 50%; }

.specs {
  width: 225px;
  padding-top: 10px;
  font-size: 10pt; }
  .specs td {
    padding-top: 10px; }

.fade-enter,
.fade-leave {
  -webkit-transition: 0.2s ease-in-out all;
  -khtml-transition: 0.2s ease-in-out all;
  -moz-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

.fade-enter,
.fade-leave.fade-leave-active {
  opacity: 0; }

.fade-enter.fade-enter-active,
.fade-leave {
  opacity: 1; }
