/* Will be compiled down to a single stylesheet with your sass files */
.ace_editor {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

.ace_editor_wrapper {
  position: relative;
  margin-left: 270px;
  width: 400px;
  height: 100%; }

.options-panel {
  float: left;
  padding: 20px; }

.contents {
  float: left;
  list-style-type: square; }

.jasmine {
  float: left;
  background-color: #80c090;
  border-radius: 10px;
  font-size: 8pt;
  padding: 10px; }
  .jasmine:before {
    content: "Jasmine";
    font-weight: bold; }

.alerts {
  position: absolute;
  z-index: 4;
  bottom: 20px;
  right: 20px;
  width: 50%; }

.alert-enter,
.alert-leave {
  -webkit-transition: 0.2s ease-in-out all;
  -khtml-transition: 0.2s ease-in-out all;
  -moz-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

.alert-enter,
.alert-leave.alert-leave-active {
  opacity: 0; }

.alert-enter.alert-enter-active,
.alert-leave {
  opacity: 1; }
