/* Will be compiled down to a single stylesheet with your sass files */
.ace_editor {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

.ace_editor_wrapper {
  position: relative;
  margin-left: 270px;
  width: 400px;
  height: 100%; }

.options-panel {
  float: left;
  padding: 20px; }

.contents {
  float: left;
  list-style-type: square; }

.jasmine {
  float: left;
  background-color: #80c090;
  border-radius: 10px;
  font-size: 8pt;
  padding: 10px; }
  .jasmine:before {
    content: "Jasmine";
    font-weight: bold; }
