/* Will be compiled down to a single stylesheet with your sass files */
$spacing: 20px;
$width: 250px;

@mixin transition($transition) {
  -webkit-transition: $transition;
   -khtml-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

.ace_editor {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.ace_editor_wrapper {
  position: relative;
  margin-left: $width;
  height: 100%;
}

.options-panel {
  float: left;
  padding: $spacing;
}

.contents {
  width: $width;

  pre {
    margin-top: 10px;

    width: 80%;
    height: 0.4 * $width;
    overflow: auto;

    font-size: 8pt;
    line-height: 12pt;
  }
}

.jasmine {
  float: left;
  background-color: rgba( 128, 192, 144, 1.0 );
  border-radius: 10px;

  font-size: 8pt;
  line-height: 12pt;

  padding: 10px;

  width: 80%;
  height: 50%;

  &:before {
    content: "Jasmine";
    font-weight: bold;
  }
}

.alerts {
  position: absolute;
  z-index: 4;
  bottom: $spacing;
  right: $spacing;
  width: 50%;
}

.alert-enter,
.alert-leave {
  @include transition(0.2s ease-in-out all);
}

.alert-enter,
.alert-leave.alert-leave-active {
  opacity: 0;
}

.alert-enter.alert-enter-active,
.alert-leave {
  opacity: 1;
}
