<div ng-hide="error">

  <div editor ui-ace="{
    mode: 'javascript'
  }" scope-instance="editor" ng-model="code"></div>

  <div class="command-panel">
    <div ng-include src=" 'views/settings.html' "></div>
    <button class="btn" ng-click="evalCode()">Eval</button>
    <button class="btn btn-primary" ng-click="testCode()" ng-disabled="testingDisabled">Test</button>

    <div ng-include src=" 'views/contents.html' "></div>
  </div>
  <div ng-include src=" 'views/alerts.html' "></div>
</div>

<div ng-show="error"><h1>Error: {{ errorMessage }}</h1></div>
