<div class="settings-panel">
  <form>
    <legend>Settings</legend>

    <fieldset>
      <label><strong>Themes:</strong></label>
      <select ng-model="config.theme" ng-options="theme for theme in themes"></select>
    </fieldset>

    <fieldset>
      <label><strong>Font size:</strong> {{ config.fontSize }}</label>

      <div class="slider">
        <h6>A</h6>
          <input class="input-medium" ng-model="config.fontSize" type="range" min="8" max="64"/>
        <h4>A</h4>
      </div>
    </fieldset>

    <div class="btn btn-primary" ng-click="toggleSettings()">Close</div>
  </form>
</div>
